/*----------------------------------------------------------------------------
	colorscheme.css for colorscheme 1

	this css-file contains all definitions, that depend on the colorscheme.

	(c) Schlund + Partner AG
----------------------------------------------------------------------------*/

/*-- main container --------------------------------------------------------*/

#container {
    background-color: #ffffff;
}

/*--- header ---------------------------------------------------------------*/

#header {
    background: #ffffff; /*repeat-x bottom left;
    background-image: url(images/static/headerbg.gif);*/
}

/*--- key visiual ----------------------------------------------------------*/

#key_visual {
    background: #ffffff no-repeat;
}

/*--- logo -----------------------------------------------------------------*/

#logo {
    background: no-repeat top right;
}

/*--- caption --------------------------------------------------------------*/

/*--- main navigation ------------------------------------------------------*/

#main_nav_container {
    background-image: url(images/static/menubg.gif);
}

/*--- main navigation items ------------------------------------------------*/

a.main_nav_item {
    background: no-repeat;
    background-position: top left;
}

a.main_nav_item:hover {
    background: no-repeat;
    background-position: top left;
}

a.main_nav_active_item {
    background: no-repeat;
    background-position: top left;
}

/*--- subnavigation items --------------------------------------------------*/

.sub_nav_container {
    background-image: url(images/static/submenubg.gif);
}

a.sub_nav_item {
    background: no-repeat;
}

a.sub_nav_item:hover {
    background: no-repeat;
}

a.sub_nav_active_item {
    background: no-repeat;
}

/*--- footer ---------------------------------------------------------------*/

#footer {
    background-color: #E6E6E6;
}

/*----------------------------------------------------------------------------
  default-styles for html-elements
----------------------------------------------------------------------------*/

/*--- body -----------------------------------------------------------------*/

body#main_body {
    background-image: url(images/static/pagebg.gif);
}

/*--- paragraph ------------------------------------------------------------*/

.content {
    color: #7D7D7D;
}

.content table {
    color: #7D7D7D;
    border-color: #3F3F3F;
}

.content select {
    color: #7D7D7D;
}

.content input {
    color: #7D7D7D;
    border-color: #3F3F3F;
}

.content textarea {
    color: #7D7D7D;
    border-color: #3F3F3F;
}

/*--- headings -------------------------------------------------------------*/

/*--- links ----------------------------------------------------------------*/

/*--- tables ---------------------------------------------------------------*/

.content th {
    color: #767B82;
    background-color: #CACACA;
    border-color: #3F3F3F;
}

.content td {
    border-color: #3F3F3F;
}

.content tr.odd {
    color: #6E6E6E;
    background-color: #ffffff;
}

.content tr.even {
    color: #6E6E6E;
    background-color: #E6E6E6;
}

/*--- forms ----------------------------------------------------------------*/

.content fieldset {
    border-color: #7D7D7D;
}

.content legend {
    color: #7D7D7D;
}

.content label {
    color: #7D7D7D;
}

.content #submit {
    background-color: #FFF3DB;
    border-color: #3F3F3F;
    color: #000000;
}

/*--------------------------------------------------------------------------*/

#weblog_calendar caption {
    color: #979797;
}

